<div class="container-fluid bg-light py-5" style = "margin-top: 30px">
        <div class="col-md-6 m-auto text-center">
            <br>
            <h1 class="h1">About Us</h1>
            <p>-------</p>
            <h2><h2>Welcome to FPT Book</h2></h2><br>
            <p>The site provides you with the latest books and more to make 
                you experience the most convenient book buying and selling in the world.</p>
                <br><br>
            <p> 
                FPTBook is a website that focuses on everything about books, for all ages. Explore the pages of books to increase your knowledge.
               <br> “The more that you read, the more things you will know."<br>
                “Books are a uniquely portable magic.” 
            </p>
           <br><br>
        </div>
    </div>

    @* <!-- Start Map -->
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.3929460297536!2d105.77619648581336!3d10.034519299224007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881f37576f1d%3A0x2acca6b410a5200!2zNTUgxJDGsOG7nW5nIFRy4bqnbiBCw6xuaCBUcuG7jW5nLCBBbiBQaMO6LCBOaW5oIEtp4buBdSwgQ-G6p24gVGjGoSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1665437899030!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> *@
    