<div style = "margin-top :100px;">
    <div class="start-stream">
        <div class="col-lg-12">
            <div class="heading-section">
                <h1><em>Support</em></h1>
            </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="item">
                    <h4>SHIPPING POLICY</h4>
                    <p>We are proud to offer international shipping services that currently operate in over 200 countries and islands world wide. Nothing means more to us than bringing our customers great value and service. 
                      <br><br>We will continue to grow to meet the needs of all our customers, delivering a service beyond all expectations anywhere in the world.</p>
                  <br><br><br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <h4>PAYMENT METHODS</h4>
                    <p><strong>CREDIT/DEBIT CARD:</strong> We accept payment with credit cards (Visa, MasterCard, JCB, and Discover), debit cards, or e-checks (i.e. using your regular Bank Account).
                      <br><br><br><strong>PAYPAL:</strong> You can use Paypal as a payment method. You will be redirected to the PayPal website. Be sure to fill in the correct details for fast & hassle-free payment processing.</strong></p>
                  <br><br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <h4>REFUND POLICY</h4>
                    <p>Customer satisfaction is our #1 priority. <br> If you did not receive the product within the guaranteed time(45 days not including 2-5 day processing) you can request a refund or a reshipment. If you received the wrong item you can request a refund or a reshipment. 
                      If you do not want the product you've received you may request a refund but you must return the item at your expense and the item must be unused.
                       <br><span>We cannot accept customers' returns or exchanges if any product is older than 30 days.</span>
                  </div>
                </div>
                <div class="col-lg-12">
                   <br><br> <br><br>
                </div>
              </div>
        </div>
    </div>
</div>